/*!--------------------------------------------------------------------
STYLES "Outdated Browser"
Version:    1.0.2 - 2014
author:     Burocratik
website:    http://www.burocratik.com
* @preserve
-----------------------------------------------------------------------*/
#outdated{
    display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index:1500; background-color: #ffffff;
}